<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head.ejs') %>
        <title>Ludiverso</title>
</head>

<body>
    <%- include('header.ejs') %>
        <main id="index_main">
            <section id="cont_presentacion">
                <h2>
                    Descubre el Mundo con Nosotros
                </h2>
                <h4>Los mejores paquetes turisticos nacionales e internacionales para crear recuerdos inolovidables</h4>
                <div id="cont_btns_pres">
                    <a href="#" class="btn_pres">
                        <i class="fa-solid fa-plane"></i>
                        Explorar Paquetes</a>
                    <a href="#" class="btn_pres" id="btn_ofertas">Ver ofertas Especiales</a>
                </div>
            </section>
            <div class="floating-chat-container">
                <div class="chat-window" id="chatWindow">
                    <div class="chat-header">
                        <button class="chat-close" id="chatClose">
                            <i class="fas fa-times"></i>
                        </button>
                        <h3>Asistente TravelPortal</h3>
                        <div class="status">En línea</div>
                    </div>
                    
                    <div class="chat-messages" id="chatMessages">
                        <!-- Aca van los mensajes -->
                    </div>
                    
                    <div class="chat-input-container">
                        <input type="text" class="chat-input" id="chatInput" placeholder="Escribe tu mensaje...">
                        <button class="send-btn" id="sendBtn">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
                
                <button class="chat-toggle-btn" id="chatToggle">
                    <i class="fas fa-comments"></i>
                </button>
            </div>
        </main>
        <%- include('footer.ejs') %>
            <script src="Scripts/app.js"></script>
</body>

</html>