<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head.ejs') %>
        <title>Ludiverso</title>
</head>

<body>
    <%- include('header.ejs') %>
        <main id="index_main">


        </main>
        <%- include('footer.ejs') %>
            <script src="Scripts/app.js"></script>
</body>

</html>