<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head.ejs') %>
        <title>
            paquetes
        </title>
</head>

<body id="">
    <%- include('header.ejs') %>
        <main id="index_main">

            <section class="featured-destinations">
                <div class="section-header">
                    <span class="badge">Nuestros paquetes</span>
                    <h2>Destinos Increíbles</h2>
                    <p>Descubre destinos increíbles con nuestros paquetes cuidadosamente seleccionados</p>
                </div>

            </section>

            <section class="filtros">
                <div class="title">
                    <h2> <i class="fa-solid fa-filter"></i> Filtros de búsqueda</h2>
                </div>

                <div class="inputs">
                    <div class="input-container">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Buscar destinos...">
                    </div>
                    <div class="input-container">
                        <input type="text" placeholder="Todas las categorías">
                    </div>
                    <div class="input-container">
                        <input type="text" placeholder="Nombre">
                    </div>
                </div>
            </section>


        </main>
</body>

</html>